[submodule "third_party/asio"]
	path = third_party/asio
	url = https://github.com/chriskohlhoff/asio
[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog
[submodule "third_party/memcheck-cover"]
	path = third_party/memcheck-cover
	url = https://github.com/Farigh/memcheck-cover
[submodule "third_party/doxygen-awesome-css"]
	path = third_party/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css
[submodule "third_party/benchmark"]
	path = third_party/benchmark
	url = https://github.com/google/benchmark
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest
[submodule "third_party/json"]
	path = third_party/json
	url = https://github.com/nlohmann/json
[submodule "third_party/tracy"]
	path = third_party/tracy
	url = https://github.com/wolfpld/tracy
